{% extends 'base.html'%}
{% load static %}


{% block contents %}
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">게시판</h2>
            <h3 class="section-subheading text-muted">자유 게시판입니다. 맘대로 쓰세요.</h3>
        </div>
        <div class="row">


            {% if posts %}
            {% for post in posts %}


            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" href="/board/read/{{ post.id }}">
                        {% if post.boardimage_set %}
                        <img class="img-fluid" src="{{ post.boardimage_set.all.0.image.url }}" alt="..."/>
                        {% else %}
                        <img class="img-fluid" src="{% static 'assets/img/portfolio/1.jpg' %}" alt="..."/>
                        {% endif %}
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">{{ post.title }}</div>
                        <div class="portfolio-caption-subheading text-muted">{{ post.writer.user_id }}</div>

                        <div class="portfolio-caption-subheading text-muted" onclick="likeAjax({{ post.id }}, this)">
                            {% if user in post.like.all %}
                            ♥
                            {% else %}
                            ♡
                            {% endif %}
                        </div>
                        <span>{{ post.like.count }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}

            <script>
                function likeAjax(bid,event) {
                    var httpRequest = new XMLHttpRequest();
                    httpRequest.onreadystatechange = function() {
                        if (httpRequest.readyState == XMLHttpRequest.DONE
                                && httpRequest.status == 200) {
                                var json = JSON.parse(httpRequest.responseText);
                                if (json['message']=='add like') {
                                    event.innerText = "♥";
                        event.nextSibling.nextSibling.innerText = json['like_cnt'];
                                } else if (json['message']=='del like') {
                                    event.innerText = "♡";
                        event.nextSibling.nextSibling.innerText = json['like_cnt'];
                                }
                        }
                    };
        httpRequest.open("GET", "/board/like/"+bid, true);
                    httpRequest.send();
                }

            </script>


        </div>
    </div>
</section>

{% endblock %}
